<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../public/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="../public/css/extend.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>房间编辑器</h1>
        </div>
        <div class="container">
            <span class="label label-default">文件名</span>
            <input id="input_filename" type="text" class="form-control input-md" placeholder="保存到磁盘的文件名（不包括扩展名）">
            <span class="label label-default">所属区域</span>
            <div class="input-group">
                <input id="input_area" type="text" class="form-control" placeholder="选择该房间所属的区域" readonly="readonly">
                <span class="input-group-btn">
                    <!--<button class="btn btn-warning" type="button" data-target="#modal_dialog_choose_target" data-toggle="modal">选择</button>-->
                    <button class="btn btn-warning click-to-choose" type="button" target-type="area">选择</button>
                </span>
            </div>
            <span class="label label-default">地名</span>
            <input type="text" class="form-control input-md" placeholder="游戏中显示的该房间名称">
            <span class="label label-default">描述</span>
            <textarea class="form-control input-md" rows="3" placeholder="游戏中显示的该房间的描述"></textarea>
            <span class="label label-default">出口</span>
            <div class="table">
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center" style="width:35%;">方向</th>
                        <th class="text-center" style="width:50%;">目标</th>
                        <th class="text-center" style="width:15%;"></th>
                    </tr>
                    </thead>
                    <tbody id="room_exits_table">
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="5">
                            <button id="btnAddExit" type="button" class="btn btn-primary pull-right"
                                    data-toggle="tooltip" data-original-title="Add more controls">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                &nbsp; 添加&nbsp;</button>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <span class="label label-default">房间内对象</span>
            <div class="table">
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center" style="width:65%;">对象</th>
                        <th class="text-center" style="width:20%;">数量</th>
                        <th class="text-center" style="width:15%;"></th>
                    </tr>
                    </thead>
                    <tbody id="room_objs_table">
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="5">
                            <button id="btnAddObj" type="button" class="btn btn-primary pull-right"
                                    data-toggle="tooltip" data-original-title="Add more controls">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                &nbsp; 添加&nbsp;</button>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="accordion" id="accordion_prop_one">
                <div class="form-group">
                    <div class="accordion-heading">
                        <span class="label label-default">特殊属性</span>
                        <a class="accordion-toggle pull-right a-toggle-switcher" data-toggle="collapse"
                           data-parent="#accordion_prop_one" href="#prop_one" aria-expanded="true"></a>
                    </div>
                    <div class="table table-bordered inner-h-padding collapse in" id="prop_one">
                        <div class="checkbox">
                            <label><input type="checkbox">禁止战斗</label>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                       aria-controls="collapseOne">
                                    <input type="checkbox"/>懒加载（需要提供函数内容）
                                </label>
                            </div>
                            <div id="collapseOne" aria-expanded="false" class="collapse">
                                <textarea class="form-control input-md" rows="3" placeholder="懒加载的处理函数"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                    <input type="checkbox"/>进入房间触发机关(需要提供函数支持)
                                </label>
                            </div>
                            <div id="collapseTwo" aria-expanded="false" class="collapse">
                                <textarea class="form-control input-md" rows="3" placeholder="进入房间的触发机关处理函数"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordion_prop_two">
                <div class="form-group">
                    <div class="accordion-heading">
                        <span class="label label-default">特殊指令</span>
                        <a class="accordion-toggle pull-right a-toggle-switcher" data-toggle="collapse"
                           data-parent="#accordion_prop_two" href="#prop_two" aria-expanded="true"></a>
                    </div>
                    <div class="table collapse in" id="prop_two">
                        <table class="table table-responsive table-bordered">
                            <tbody id="room_actions_table">
                            </tbody>
                            <tfoot>
                            <th colspan="5">
                                <button id="btnAddAction" type="button" class="btn btn-primary pull-right"
                                        data-toggle="tooltip" data-original-title="Add more controls">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    &nbsp; 添加&nbsp;</button>
                            </th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordion_prop_three">
                <div class="form-group">
                    <div class="accordion-heading">
                        <span class="label label-default">自定义函数</span>
                        <a class="accordion-toggle pull-right a-toggle-switcher" data-toggle="collapse"
                           data-parent="#accordion_prop_three" href="#prop_three" aria-expanded="true"></a>
                    </div>
                    <div class="table table-bordered collapse in" id="prop_three">
                        <table class="table table-responsive table-bordered">
                            <tbody id="room_functions_table">
                            </tbody>
                            <tfoot>
                            <th colspan="5">
                                <button id="btnAddFunction" type="button" class="btn btn-primary pull-right"
                                        data-toggle="tooltip" data-original-title="Add more controls">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    &nbsp; 添加&nbsp;</button>
                            </th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group btn-group pull-right">
            <button class="btn btn-warning" id="btn_cancel">取消</button>
            <button class="btn btn-primary" id="btn_save">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>

    </div>

    <!--选择数据用的弹出对话框,支持 区域、房间、对象 选择 -->
    <div id="modal_dialog_choose_target" class="modal fade" role="modal" aria-labelledby="choose_dialog_title"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="choose_dialog_title">
                        设定一个标题
                    </h3>
                </div>
                <div class="modal-body pre-scrollable">
                    <div id="dialog_body_target_list">
                        <ul id="root_ul" class="list-group fordtreeview">
                        </ul>
                    </div>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>-->
                <!--<button id="btn_save_choosed_area" class="btn btn-primary">保存</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit text-center">极讯欢乐工作室</p>
    </div>
</div>


<script src="../public/js/jquery-3.2.1.min.js"></script>
<script src="../public/js/jquery.scrollTo.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/editor.js"></script>
</body>
</html>