<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../public/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>房间编辑器</h1>
            <span class="label label-default">文件名</span>
            <input type="text" class="form-control input-md" placeholder="保存到磁盘的文件名（不包括扩展名）">
            <span class="label label-default">所属区域</span>
            <select class="form-control"><option>新手村(/map/xinshoucun/)</option><option>襄阳(/map/xiangyang/）</option></select>
            <span class="label label-default">地名</span>
            <input type="text" class="form-control input-md" placeholder="游戏中显示的该房间名称">
            <span class="label label-default">描述</span>
            <textarea class="form-control input-md" rows="3" placeholder="游戏中显示的该房间的描述"></textarea>
            
            <div class="accordion" id="accordion_prop">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_prop" href="#propOne">
                            特殊属性
                        </a>
                    </div>
                    <div id="propOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_prop" href="#propTwo">
                            自定义函数
                        </a>
                    </div>
                    <div id="propTwo" class="accordion-body collapse">
                        <div class="accordion-inner">

                        </div>
                    </div>
                </div>
            </div>

            <div class="container"><br/>
                <div class="form-group">
                    <div class="checkbox">
                        <label data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <input type="checkbox"/> A checkbox
                        </label>
                    </div>
                </div>
                <div id="collapseOne" aria-expanded="false" class="collapse">
                    <div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ut molestias eius, nam neque esse eos modi corrupti harum fugit, hic recusandae praesentium, minima ipsa eligendi architecto at! Culpa, explicabo.</div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <input type="checkbox" checked/> Another checkbox
                        </label>
                    </div>
                </div>
                <div id="collapseTwo" aria-expanded="true" class="collapse in">
                    <div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ut molestias eius, nam neque esse eos modi corrupti harum fugit, hic recusandae praesentium, minima ipsa eligendi architecto at! Culpa, explicabo.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">极讯欢乐工作室</p>
    </div>
</div>

<script src="../public/js/jquery-3.2.1.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>