<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link rel="shortcut icon" type="image/x-icon" href="public/image/appscat.png" />
<title>Mudos</title>
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/mudos.css?v20160108" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
		    <div class="col-xs-12 col-both-clear">
			    <div class="head bs">
					<div class="room-title"></div>
					<p id="room_desc" class="desc"></p>
				</div>
			</div>
        </div>
        <div class="row">
		    <div class="main">
				<div class="col-xs-3 col-left col-right">
						<div class="cmd bs">
						</div>
						<div class="objs bs">
							<ul id="env_objs" class="env-objs">
							</ul>
						</div>
				</div>
				<div class="col-xs-9 col-both-clear">
					<div class="msglistbox bs">
						<div id="message" class="msglist">
						</div>
						<div id="toast_popup">
						</div>
					</div>

					<div class="say bs input-group">
						 <span  data-toggle="dropdown" class="myspan">对所有人说<span class="caret"></span></span>
							<ul class="dropdown-menu" role="menu">
							  <li>悄悄话</li>
							  <li>对该频道说</li>
							  <li>对该房间说</li>
						   </ul>
						 <input type="text" >
						 <span class="myspan" >发送</span>
					</div>
				</div>
            </div>
        </div>
		<div class="row">
		    <div class="bottom">
				<div class="col-xs-6 col-left col-right">
					<div id="move_controller" class="map bs">
						<table class="table table-bordered">
							<tbody>
							<tr>
								<td id="r1c1" class="mc-btn" direction=""></td>
								<td id="r1c2" class="mc-btn" direction=""></td>
								<td id="r1c3" class="mc-btn" direction=""></td>
							</tr>
							<tr>
								<td id="r2c1" class="mc-btn" direction=""></td>
								<td id="r2c2" class="mc-btn" direction=""></td>
								<td id="r2c3" class="mc-btn" direction=""></td>
							</tr>
							<tr>
								<td id="r3c1" class="mc-btn" direction=""></td>
								<td id="r3c2" class="mc-btn" direction=""></td>
								<td id="r3c3" class="mc-btn" direction=""></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-6 col-both-clear">
					<div class="obj-info bs">
					</div>
					<div class="sys-cmd bs">
						<a href="#">常用</a> |
						<a href="#">行囊</a> |
						<a href="#">频道</a>
					</div>
				</div>
			</div>
		</div>
    </div>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="objModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
			    <div id="loading-panel" class="modal-body loading">
			    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<img src="public/image/loading.gif"/><span>  数据加载中...</span>
			    </div>
			    <div id="interaction-panel">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body">
                        <div id='myModalContent'>
                        </div><br>
						<div class="container-fluid">
							<div class="row">
							  <div class="col-xs-3">物品</div>
							  <div class="col-xs-3">价格</div>
							  <div class="col-xs-3">购买</div>
							</div>
						</div>
					</div>
	                <div class="mymodal-foot">
	    				<div id='inquiries'></div>
	    				<div id='interactions'></div>
					</div>
			    </div>
			</div>
		</div>
    <div>

    <div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="mySkillLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="mySkillLabel">技能训练师</h4>
				</div>
				<div class="modal-body">
					<div class="skill-set" >
                        <span id="skill" >独孤九剑</span>
                        <span id="skill-value" >21点贡献1金</span>
                        <div id="study" style="float:right;">
                            <button type="button" class="btn btn-info">请教</button>
                        </div>
                        <div style="width:85%">
                            <div class="progress">
                               <div class="progress-bar progress-bar-success" role="progressbar"
                                  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                  style="width: 30%;">
                                  <span>30点</span>
                               </div>
                            </div>
                        </div>
					</div>

                    <div class="skill-set" >
                        <span id="skill" >如来神掌</span>
                        <span id="skill-value" >21点贡献1金</span>
                        <div id="study">
                            <button type="button" class="btn btn-info">请教</button>
                        </div>
                        <div id="skill-progress">
                            <div class="progress">
                               <div class="progress-bar progress-bar-success" role="progressbar"
                                  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                  style="width: 60%;">
                                  <span>60点</span>
                               </div>
                            </div>
                        </div>
					</div>
				</div>
				<div class="modal-footer">
    				<span id='contribute'>当前贡献XXXX</span>
                    <span id='money'>金钱：XX金XX银XX铜</span>
				</div>
			</div>
		</div>
    <div>
</body>
<script>
    var config = {
        authenticateApi: 'cathayauth'
    }
</script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="public/js/functions.js?v20160225"></script>
<script type="text/javascript" src="public/js/interaction_panel.js?v20160225"></script>
<script type="text/javascript" src="public/js/mudos.js?v20160108"></script>
</html>
